
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin-left: 500px;
  }
  
  .login-box {
    padding: 40px 30px;
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  .login-box h2 {
    margin-bottom: 24px;
    font-size: 28px;
    color: #333;
  }
  
  .login-box form {
    display: flex;
    flex-direction: column;
  }
  
  .login-box input {
    padding: 12px;
    margin-bottom: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s;
  }
  
  .login-box input:focus {
    border-color: #aa4caf;
    outline: none;
  }
  
  .login-box button {
    padding: 12px;
    background-color: #aa4caf!important;
    color: white;
    border: 1px solid #aa4caf; /* מוסיף גבול עם אותו צבע */
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .login-box button:hover {
    background-color:#aa4caf;
  }
  
  .login-box p {
    margin-top: 20px;
    font-size: 14px;
    color: #666;
  }
  
  .login-box a {
    color: #aa4caf;
    text-decoration: none;
    font-weight: bold;
  }
  
  .login-box a:hover {
    text-decoration: underline;
  }
  
  .login-box .error-message {
    color: #ff4d4f;
    margin-top: 10px;
    font-weight: bold;
  }
  