.order-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fdfdfd;
    direction: rtl;
  }
  
  .order-card h3,
  .order-card p {
    margin: 5px 0;
  }
  
  .products-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    background-color: #fff;
  }
  
  .products-table th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    background-color: #f0f0f0;
  }
  
  .products-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  